# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
elpy/**

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-bookmarks.eld

# directory configuration
.dir-locals.el

# custom
/.cache/
/url/
/games/
/el-get/
ido.last
smex-items
speed-type
session*
recentf
workspace/*
eclipse.jdt.ls/*
.emacs-buffers
.lsp-session*
.last-package-update-day
network-security.data
request/
.sx/*
quelpa/**
transient/**
mc-biome-viewer/**
projectile.cache
*.jar
.dap-breakpoints
site-lisp/**
eaf/**
/lisp/project/
/.edbi-ds-history
